* {
    margin:0;
    padding:0;
}

/* BODY */
.negrita {
    font-weight:800;
}

.italica {
    font-style:italic;
}

.family {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: lighter;
    font-size:20px;
}

h1 {
    font-style:normal;
    font-weight:500;
    font-size: 30px;
}

h2 {
    font-style:normal;
    font-weight:300;
    font-size: 30px;
}

.botones {
    font-family:'Montserrat', sans-serif;
    font-style:italic;
    font-size:15px;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 10% 70%;
    grid-template-rows: 100%;
    grid-template-areas: "logo menu";
    justify-content: space-around;
    background-color:lavenderblush;
    width:100%;
    height: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div nav ul li a:hover{
    background-color:pink;
}

div nav ul {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height:110px;
    grid-area: "menu";
}

li a {
    text-decoration: none;
    font-weight: 500;
    font-size:20px;
    color:black;
    padding: 20px;
}

div a img {
    grid-area: "logo";
    width:100%;
    height:100%;
}

.carrusel {
    width: 100%;
    height:629px;
}


/* MAIN */

/*seccion INDEX*/
.productos {
    width:100%;
    height:600px;
    display: grid;
    grid-template-rows: 90%;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: 'producto1 producto2 producto3';
    justify-content: space-evenly;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    background-color: #F2BDC7;
}
.tituloProductos {
    text-align: center;
    background-color: #F2BDC7;
    padding-top: 30px;
}

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.manifiesto {
    display:grid;
    grid-template-rows: 80%;
    grid-template-columns: 45% 45%;
    grid-template-areas: 'textomanifiesto fotomani';
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    width:100%;
    height: 355px;
}

.textoManifiesto {
    grid-area: textomanifiesto;
    padding: 20px;
}

.textoManifiesto p{    
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: justify;
}

.imgManifiesto {
    grid-area: fotomani;
    width: 100%;
}

.rutinas {
    display:grid;
    grid-template-rows: 80%;
    grid-template-columns: 45% 45%;
    grid-template-areas: 'fotoruti textorutina';
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    background-color: #F2BDC7;
    width:100%;
    height: 380px;
}

.textoRutina {
    grid-area: textorutina;
}

.imgRutina {
    grid-area: fotoruti;
}

.textoRutina p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

form {
    font-style:normal;
    font-size:20px;
    line-height: 30px;
}

.newsletterMain {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*seccion QUIENES SOMOS*/
.quienesSomos {
    display:grid;
    grid-template-columns: 90%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "texto"
                        "video";
    column-gap: 50px;
    justify-content: space-around;
    align-content:center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height:1000px;
}

.textoQuienes h1 {
    text-align: center;
}

.textoQuienes p {
    text-align: justify;
    padding: 30px;
}

.form {
    padding:20px;
    position:relative;
    left:30px;
}

.contacto {
    grid-area: cont;
    padding-left: 40px;
    padding-top: 20px;
}

/*seccion PRODUCTOS*/
.seccionProductos {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height:100px;
}

.fotosProductos {
    display:grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "foto1 foto2 foto3 foto4"
                        "foto5 fotos6 foto7 foto8";
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-content:center;
    width:100%;
    height: 800px;
}

.fotosProductos img {
    width:100%;
    height:100%;
}

/*seccion RUTINA*/
.seccionRutina {
    width:100%;
    height:50px;
    padding:50px;
}

.seccionRutina p {
    padding:30px;
}

.mainRutina {
    width:100%;
    height:860px;
    background-image: url("../imagen/fondorutina.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}

.formRutina {
    width: 60%;
    height: 600px;
    justify-content: start;
    align-content: space-between;
    display:grid;
    grid-template-columns: 50% 35%;
    grid-template-rows: 8% 8% 8% 8% 8% 8% 8% 8% 8% 10%;
    grid-template-areas:'nombrer1 nombrer2' 
                        'emailr1 emailr2'   
                        'rango1 rango2' 
                        'piel1 piel2' 
                        'momento1 momento1' 
                        'cuantos1 cuantos2' 
                        'obj1 obj2' 
                        'sexor1 sexor2' 
                        'espacioc1 espacioc2' 
                        'botonesr1 botonesr2';
}

.nombreR1 {
    grid-area: nombrer1;
}
.nombreR2 {
    grid-area: nombrer2;
}
.emailr11 {
    grid-area: emailr1;
}
.emailr2 {
    grid-area: emailr2;
}
.rango1 {
    grid-area: rango1;
}
.rango2 {
    grid-area: rango2;
}
.piel1 {
    grid-area: piel1;
}
.piel2 {
    grid-area: piel2;
}
.cuantos1 {
    grid-area: cuantos1;
}
.cuantos2 {
    grid-area: cuantos2;
}
.obj1 {
    grid-area: obj1;
}
.obj2 {
    grid-area: obj2;
}
.sexor1 {
    grid-area: sexor1;
}
.sexor2 {
    grid-area: sexor2;
}
.botonesr1 {
    grid-area: botonesr1;
}
.botonesr2 {
    grid-area: botonesr2;
}


/*seccion CONTACTO*/
.formContacto {
    width: 100%;
    height: 600px;
    justify-content: center;
    align-content: space-between;
    display:grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 5% 5% 5% 5% 5% 2% 5% 20% 5% 5% 8%;
    grid-template-areas: 'completa completa'
                        'nombre1 nombre2' 
                        'email1 email2'   
                        'tipo1 tipo2' 
                        'sexo1 sexo2' 
                        'espacio1 espacio1' 
                        'detalla1 detalla1' 
                        'cuadro cuadro' 
                        'deseo1 deseo2' 
                        'espacio2 espacio2' 
                        'botones1 botones2';
    grid-area: form;
}

.formlegend {
    grid-area: completa;
}

.nombre1 {
    grid-area: nombre1;
}
.nombre2 {
    grid-area: nombre2;
}
.email1 {
    grid-area: email1;
}
.email2 {
    grid-area: email2;
}
.tipo1 {
    grid-area: tipo1;
}
.tipo2 {
    grid-area: tipo2;
}
.sexo1 {
    grid-area: sexo1;
}
.sexo2 {
    grid-area: sexo2;
}
.detalla1 {
    grid-area: detalla1;
}
.detalla2 {
    grid-area: cuadro;
}
.deseo1 {
    grid-area: deseo1;
}
.deseo2 {
    grid-area: deseo2;
}
.botones1 {
    grid-area: botones1;
}
.botones2 {
    grid-area: botones2;
}

#mainContacto {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    grid-template-areas:'cont cont' 
                        'form img';
    background-color: #F2BDC7;
    width:100%;
    height:700px;
}

.imgContacto{
    background-image: url("../imagen/contacto.jpg");
    grid-area: img;
    background-position: left;
    background-size:cover;
    background-repeat: no-repeat;
}


/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 10% 20% 45% 10%;
    grid-template-rows: 100%;
    grid-template-areas: 'logo menu newsletter sociales';
    justify-content: center;
    column-gap:2%;
    justify-items: center;
    align-items: center;
    background-color:lavenderblush;
    color:black;
    height:100px;
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
}

.logoFooter {
   grid-area: logo;
}

.menuFooter {
  grid-area: menu;
}

footer div ul {
    text-decoration: none;
    list-style-type: none;
}

.newsletterFooter {
    grid-area: newsletter;
}

.footerSocial {
    grid-area: sociales;
}

.logoFooter img {
    width: 50px;
    height: 50px;
}

.footerSocial img {
    width:50px;
    height:auto;
}

footer div ul li {
    padding:3px;
}


















